@import './../../../../assets/scss/variables.scss';

@mixin media($breakpoint) {
	@media only screen and (max-width: $breakpoint) {
		@content;
	}
}

#tasks-container {
	height: 100%;
	display: flex;
	flex-direction: column;

	.mat-h2 {
		text-align: center;
	}

	#content {
		display: flex;
		flex-direction: column;

		#view-section {
			display: flex;
			justify-content: end;
		}
	}

	#spinner-container {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
	}
}

:host ::ng-deep.spinner-tasks.mat-progress-spinner circle {
	stroke-width: 5% !important;
}

::ng-deep.task-details-dialog-web {
	position: absolute !important;
	right: 0;

	.mat-dialog-container {
		padding: 16px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
}

::ng-deep.task-details-dialog-mobile {
	max-width: 100vw !important;

	.mat-dialog-container {
		border-radius: 0;
	}
}

@include media($mobile-size) {
	app-generic-view-select {
		width: 100%;
	}

	#tasks-container {
		.mat-h2 {
			text-transform: uppercase;
		}

		#content #view-section {
			justify-content: center;
		}
	}
}
