<section id="container-dashboard" cdkDropListGroup>
	<article class="column-dashboard">
		<h3 class="title-column mb-0">New</h3>

		<div id="new" class="cards" cdkDropList [cdkDropListData]="dataGrid.news" (cdkDropListDropped)="drop($event)">
			<ng-container *ngIf="dataGrid.news.length > 0; else emptyContent">
				<div
					class="task-card"
					*ngFor="let task of dataGrid?.news"
					cdkDrag
					[cdkDragData]="task"
					(click)="clickItem(task)"
				>
					<div class="card-header">
						<h5>{{ task?.name }}</h5>
						<span class="status-dot" [style.background-color]="task?.category?.color"></span>
					</div>

					<p class="text">{{ task?.startDate }}</p>

					<p class="text">{{ task?.description }}</p>
				</div>
			</ng-container>
		</div>
	</article>

	<article class="column-dashboard">
		<h3 class="title-column mb-0">In progress</h3>

		<div
			id="in_progress"
			class="cards"
			cdkDropList
			[cdkDropListData]="dataGrid.inProgress"
			(cdkDropListDropped)="drop($event)"
		>
			<ng-container *ngIf="dataGrid.inProgress.length > 0; else emptyContent">
				<div class="task-card" *ngFor="let task of dataGrid?.inProgress" cdkDrag [cdkDragData]="task">
					<div class="card-header">
						<h5>{{ task?.name }}</h5>
						<span class="status-dot" [style.background-color]="task?.category?.color"></span>
					</div>

					<p class="text">{{ task?.startDate }}</p>

					<p class="text">{{ task?.description }}</p>
				</div>
			</ng-container>
		</div>
	</article>

	<article class="column-dashboard">
		<h3 class="title-column mb-0">Paused</h3>

		<div id="paused" class="cards" cdkDropList [cdkDropListData]="dataGrid.paused" (cdkDropListDropped)="drop($event)">
			<ng-container *ngIf="dataGrid.paused.length > 0; else emptyContent">
				<div class="task-card" *ngFor="let task of dataGrid?.paused" cdkDrag [cdkDragData]="task">
					<div class="card-header">
						<h5>{{ task?.name }}</h5>
						<span class="status-dot" [style.background-color]="task?.category?.color"></span>
					</div>

					<p class="text">{{ task?.startDate }}</p>

					<p class="text">{{ task?.description }}</p>
				</div>
			</ng-container>
		</div>
	</article>

	<article class="column-dashboard">
		<h3 class="title-column mb-0">Completed</h3>

		<div
			id="completed"
			class="cards"
			cdkDropList
			[cdkDropListData]="dataGrid.completed"
			(cdkDropListDropped)="drop($event)"
		>
			<ng-container *ngIf="dataGrid.completed.length > 0; else emptyContent">
				<div class="task-card" *ngFor="let task of dataGrid?.completed" cdkDrag [cdkDragData]="task">
					<div class="card-header">
						<h5>{{ task?.name }}</h5>
						<span class="status-dot" [style.background-color]="task?.category?.color"></span>
					</div>

					<p class="text">{{ task?.startDate }}</p>

					<p class="text">{{ task?.description }}</p>
				</div>
			</ng-container>
		</div>
	</article>

	<article class="column-dashboard">
		<h3 class="title-column mb-0">Cancelled</h3>

		<div
			id="cancelled"
			class="cards"
			cdkDropList
			[cdkDropListData]="dataGrid.cancelled"
			(cdkDropListDropped)="drop($event)"
		>
			<ng-container *ngIf="dataGrid.cancelled.length > 0; else emptyContent">
				<div class="task-card" *ngFor="let task of dataGrid?.cancelled" cdkDrag [cdkDragData]="task">
					<div class="card-header">
						<h5>{{ task?.name }}</h5>
						<span class="status-dot" [style.background-color]="task?.category?.color"></span>
					</div>

					<p class="text">{{ task?.startDate }}</p>

					<p class="text">{{ task?.description }}</p>
				</div>
			</ng-container>
		</div>
	</article>
</section>

<button mat-fab color="primary" aria-label="Icon button with a add icon" (click)="redirectToAdd()">
	<mat-icon>add</mat-icon>
</button>

<ng-template #emptyContent>
	<div class="w-100 h-100 m-auto">
		<p class="mb-0 text-center text">No elements</p>
	</div>
</ng-template>
