<section id="container-dashboard" cdkDropListGroup>
	<article class="column-dashboard">
		<h2>Title 1</h2>

		<div class="cards" cdkDropList [cdkDropListData]="new" (cdkDropListDropped)="drop($event)">
			<ng-container *ngIf="new.length > 0; else emptyContent">
				<div class="task-card" *ngFor="let i of new" cdkDrag>{{ i }}</div>
			</ng-container>
		</div>
	</article>

	<article class="column-dashboard">
		<h2>Title 2</h2>

		<div class="cards" cdkDropList [cdkDropListData]="todo" (cdkDropListDropped)="drop($event)">
			<div class="task-card" *ngFor="let i of todo" cdkDrag>{{ i }}</div>
		</div>
	</article>

	<article class="column-dashboard">
		<h2>Title 3</h2>

		<div class="cards" cdkDropList [cdkDropListData]="done" (cdkDropListDropped)="drop($event)">
			<div class="task-card" *ngFor="let i of done" cdkDrag>{{ i }}</div>
		</div>
	</article>

	<article class="column-dashboard">
		<h2>Title 4</h2>

		<div class="cards" cdkDropList [cdkDropListData]="cuatro" (cdkDropListDropped)="drop($event)">
			<div class="task-card" *ngFor="let i of cuatro" cdkDrag>{{ i }}</div>
		</div>
	</article>

	<article class="column-dashboard">
		<h2>Title 5</h2>

		<div class="cards" cdkDropList [cdkDropListData]="cinco" (cdkDropListDropped)="drop($event)">
			<div class="task-card" *ngFor="let i of cinco" cdkDrag>{{ i }}</div>
		</div>
	</article>

	<article class="column-dashboard">
		<h2>Title 6</h2>

		<div class="cards" cdkDropList [cdkDropListData]="seis" (cdkDropListDropped)="drop($event)">
			<div class="task-card" *ngFor="let i of seis" cdkDrag>{{ i }}</div>
		</div>
	</article>
</section>

<ng-template #emptyContent>
	<div class="w-100 h-100 m-auto">
		<p class="mb-0 text-center">No elements</p>
	</div>
</ng-template>
