@import './../../../../../assets/scss/variables.scss';

@mixin media($breakpoint) {
	@media only screen and (max-width: $breakpoint) {
		@content;
	}
}

#container-task-details-dialog {
	width: 100%;
	height: 100%;

	#header-task-details-dialog {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		mat-icon {
			position: absolute;
			left: 0;
			cursor: pointer;
		}

		#title {
			font-weight: 600;
			letter-spacing: 0.2px;
			margin-bottom: 0;
		}
	}

	#body-task-details-dialog {
		padding-top: 10px;
		padding-bottom: 10px;

		.sub-title {
			font-weight: bold;
			letter-spacing: 0.2px;
			color: $text-color;
			margin-bottom: 0;
		}

		#category {
			margin-top: 20px;

			#title-category {
				display: flex;
				gap: 10px;
				align-items: center;

				#color-category {
					display: block;
					width: 15px;
					height: 15px;
					border-radius: 10px;
				}
			}
		}

		#status {
			margin-top: 20px;
		}

		#comments {
			#comments-container {
				padding: 5px;
				border: 0.5px solid #ccc;
				display: block;
				max-height: 200px;
				overflow-y: auto;

				.comment-title {
					margin-bottom: 0;
					font-weight: 600;
					letter-spacing: 0.25px;
					font-size: 12px;
				}

				.comment-text {
					font-size: 12px;
					margin-bottom: 0;
				}

				#spinner-container {
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					position: relative;
				}
			}
		}

		.text {
			letter-spacing: 0.1px;
			color: $text-color;
		}
	}
}

:host ::ng-deep.spinner-task-details.mat-progress-spinner circle {
	stroke-width: 5% !important;
}

@include media($mobile-size) {
	#container-task-details-dialog {
		#header-task-details-dialog {
			justify-content: left;

			mat-icon {
				position: relative;
				margin-right: 25px;
			}

			#title {
				font-size: 18px;
				font-family: $font-family-mobile;
				font-weight: 500;
			}
		}

		#body-task-details-dialog {
			.sub-title {
				font-family: $font-family-mobile;
				font-weight: 500;
				font-size: 16px;
			}

			#comments {
				#comments-container {
					.comment-title {
						font-size: 13px;
						font-family: $font-family-mobile;
						font-weight: 500;
					}

					.comment-text {
						font-size: 13px;
					}
				}
			}

			.text {
				font-family: $font-family-mobile;
			}
		}
	}
}
