/* You can add global styles to this file, and also import other style files */
@import './assets/scss/themes.scss';
@import './assets/scss/variables.scss';

@mixin media($breakpoint) {
	@media only screen and (max-width: $breakpoint) {
		@content;
	}
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
}

// Titles general color
h1,
h2,
h3,
h4,
h5,
h6 {
	color: $text-color !important;
}

// General styles for a element
a {
	color: $text-color !important;
	text-decoration: none;

	&:hover {
		text-decoration: underline !important;
		cursor: pointer;
		opacity: 0.9;
	}
}

// Styles for MAtSnackBar
.mat-snack-bar-error {
	background-color: $error-background-color;
	font-weight: 600;

	@include media($mobile-size) {
		font-weight: 500;
	}
}
