@import './../../../../../assets/scss/variables.scss';

@mixin media($breakpoint) {
	@media only screen and (max-width: $breakpoint) {
		@content;
	}
}

#container-create {
	width: 60%;
	margin: auto;

	#header-container-create {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		margin-bottom: 12px;

		.mat-h2 {
			margin-bottom: 0;
		}

		#go-back-arrow {
			cursor: pointer;
			position: absolute;
			left: 10px;
		}
	}

	#container-form-create {
		form {
			display: flex;
			flex-direction: column;
			gap: 10px;

			.field-create {
				width: 100%;
			}

			button[type='submit'] {
				width: 100%;
				color: white;
				font-size: 15px;
				font-weight: 500;
			}
		}
	}
}

:host ::ng-deep.mat-progress-spinner circle {
	stroke: white !important;
	stroke-width: 5% !important;
}

:host ::ng-deep button[type='submit'] .mat-button-wrapper {
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: center;
}

@include media($mobile-size) {
	#container-create {
		width: 100%;

		#header-container-create .mat-h2 {
			text-transform: uppercase;
		}

		#container-form-create {
			form {
				button[type='submit'] {
					text-transform: uppercase;
				}
			}
		}
	}

	:host ::ng-deep {
		.mat-form-field-label mat-label {
			font-family: $font-family-mobile;
		}

		.mat-form-field-infix .mat-input-element {
			font-family: $font-family-mobile;
		}
	}
}
